html { font-family: "Inter", serif; }

header { position: fixed; width: 100%; z-index: 9999; }
header .container { display: flex; flex-direction: row-reverse;
                    padding: 0 30px; font-weight: 500; }

header .container nav > ul { display: flex; padding: 10px;}
header .container nav > ul li { list-style: none; }
header .container nav > ul li:not(:last-child):after { content: '/'; margin: 0 5px; }
header .container nav > ul li a { color: black; font-weight: 600; text-decoration: none; text-transform: uppercase; padding: 10px 20px;
    transition-property: color, border-bottom; transition-duration: 0.2s, 0s;}
/*header .container nav > ul li a:focus { color: white; border-bottom: 3px solid white; }*/

#main {  }

.wrapper { max-width: 1200px; margin: 0 auto; padding: 3%; }
.section1 { background: linear-gradient(135deg, #fe5, #0bc); }
.section1 .sec1-title { position: relative; font-weight: 900;}
.section1 .sec1-title .big { position: absolute; bottom: -60vh; font-size: 6rem; letter-spacing: 0.3rem; line-height: 120%;}
.section1 .sec1-title .med { position: absolute; bottom: -70vh; font-size: 3rem; letter-spacing: 3rem;}


.section2 { background-color: #c2cccc; }
.section2 .wrapper {position: relative;}
.section2 .img-box {position: absolute; top: 0; width: 35%; }
.section2 .img-box img { width: 100%; border-radius: 0 0 150px 150px; }
.section2 .shadow { position: absolute; top: 0; left: 0;
    width: 100%; height: 99%;
    box-shadow: inset 5px -5px 15px 0 rgba(0, 0, 0, 0.5);
    border-radius: 0 0 150px 150px; }

.section2 .sec2-text {position:relative; left:45%; margin-top:15%; width: 40%;}
.section2 .sec2-text .title {font-size: 4rem; font-weight:900; letter-spacing: 0.3rem; line-height: 120%;}
.section2 .sec2-text .content {font-size: 1rem; font-family: 'Noto Sans KR', serif; margin-top: 20px;}


.section3 { background-color: #ded7d4; position: relative; }
.section3 .sec3-title {position:relative; left:6%; margin-top:10%;
    font-size: 5rem; font-weight:900; }

.section3 .tb-content {margin-top: 3%;}
.section3 .tb-content table {width: 55%; margin: 0 0 0 20%;}
.section3 .tb-content th, td {padding: 20px 0 20px 25px; text-align: left;}
.section3 .tb-content th {font-size: 1.5rem; font-weight: 700;}
.section3 .tb-content td {font-size: 1.2rem; font-weight: 500;}
/*.section3 .tb-content tr:nth-child(odd) { background-color: #e5e7e5;}*/

.section3 .img-box {position: absolute; right:-15%; bottom:0; width:30%; }
.section3 .img-box img { width: 100%; border-radius: 50px 0 0 0; }
.section3 .shadow { position: absolute; top: 0; left: 0;
    width: 100%; height: 100%;
    box-shadow: inset 5px -5px 15px 0 rgba(0, 0, 0, 0.5);
    border-radius: 50px 0 0 0px; }


.section4 { background-color: #dedde5; }
.section4 .wrapper {position: relative;}
.section4 .sec4-title {position:absolute; right:6%; margin-top:5%;
    font-size: 5rem; font-weight:900; }

.section4 .content { display: flex; justify-content: space-between; margin-top:5%;}
.section4 .content .title { font-size: 2rem; font-weight:700; padding: 3px 18px;
background: black; color: white; border-radius: 10px 10px 0 0;}
.section4 .content .desc { font-family: "Noto Sans KR", serif; border-left: 4px solid black;
padding: 0 10px; margin: 10px;}
.section4 .content img { width: 100%; border-radius: 0 0 10px 10px; border: 3px solid black; }

.section4 .project1 { position: relative; width: 30%; }
.section4 .project2 { position: relative; width: 55%; margin-top: 15%; }

.section5 { background-color: #e2e5ea;}
.section5 .sec5-title {margin: 0 auto; font-size: 5rem; font-weight:900;
text-align: center; margin-top: 20%;}

.section5 ul { display: flex; justify-content: center; padding-inline-start:unset; }
.section5 ul li { list-style: none; padding: 10px;}

footer .goto { position: absolute; bottom:0; right:0; margin: 10px; padding: 10px;}
footer .goto a { color: black; }